<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/controller.js"></script>
       <script src="javascripts/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Adiantamento by rosanocangussu</title>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container">
 
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </a>
 
                <!-- Be sure to leave the brand out there if you want it shown -->
               <a class="brand" href="#">Laboratório</a>
 
                <!-- Everything you want hidden at 940px or less, place within here -->
               <div class="nav-collapse collapse">
                  <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                 <!-- .nav, .navbar-search, .navbar-form, etc -->
               </div>
                 
             </div>
             
          </div>
            
        </div> 
        
       
        
        <div ng-controller="ListaComprasController">
        
         <form class="form-inline" name="formItem">
          <p>Nome do Produto <br />
          <input type="text" ng-model="item.produto"></p>
          <p>Quantidade <br />
          <input type="number" ng-model="item.quantidade"></p>
          <br />
          <button class="btn btn-primary" ng-click="adicionaItem()">adicionar ítem</button>
      </form>
       
         <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Opções</th>
              </tr>
            </thead>
          <tbody>
            <tr ng-repeat="item in itens" id="{{ item.id }}">
            
                  <td><strong>{{ item.id }}</strong></td>
                  <td><strong>{{ item.produto }}</strong></td>
                  <td>{{ item.quantidade }}</td>
                  <td><button id="{{item.id}}" value = "{{ item.id}}"class="btn btn-danger" ng-click="deletaItem()">Excluir</button> </td>
              
          </tr>
          </tbody>
        </table>
      

  
</div>
    </div>
  
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');

      context.beginPath();
      context.moveTo(100, 300);
      context.lineTo(100, 100);
      context.stroke();
    </script>
  
  </body>
</html>
